@import url("https://fonts.googleapis.com/css?family=Alata|Quicksand&display=swap");

.ProfileHome {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-left-side {
  display: flex;
  flex-direction: column;
}

.FollowingContainer {
  font-family: Alata;
}

.TweepStreamContainer {
  border: 1px solid grey;
  height: 100%;
  box-sizing: border-box;
  overflow: scroll;
  padding: 2px;
}

@media only screen and (max-width: 700px) {
  .ProfileHome {
    display: flex;
    flex-direction: column;
  }
}
