
.SearchPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:flex-start;
  width: 100%;
}

.UserResults {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}


.TweepResults {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}


.CaretResults{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.CaretResult{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.UserLink {
  cursor: pointer;
}
