@import url("https://fonts.googleapis.com/css?family=Alata|Quicksand&display=swap");

.TweepStream {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  width: 100%;
  font-family: Alata, Helvetica, sans-serif;
  overflow: scroll;
  /* height: 100%; */
}

.createTweepContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.readTweepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
