.TweepStream {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid darkblue;
  background: white;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
}

.createTweepContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.readTweepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
