@import url("https://fonts.googleapis.com/css?family=Alata|Quicksand&display=swap");

.TweepStream {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid darkblue;
  background: white;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  font-family: Alata, Helvetica, sans-serif;
  /* height: 100%; */
}

.createTweepContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.readTweepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
